body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    
    width: 100%;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 40px;
}


.navmenu a {
    font-family: sans-serif
}

a {
    text-decoration: none;
}


/*------------------------------------*/

/*!!!!!!!!NO TOCAR, EL QUE LO TOCA ES GAY¡¡¡¡¡¡¡¡¡: https://bbbootstrap.com/snippets/simple-image-overlay-hover-effect-38877551 */
/*😈*/
.imgCard {
    transition: transform .2s;
    cursor: pointer; 
}
 
.imgCard:hover {
    transform: scale(1.05); 
}
